@charset "utf-8";

/** ################################################## GENERAL ################################################## **/
:root {
  --container-max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

section[id],
div[id] {
  scroll-margin-top: var(--header-height);
}

html,
body {
  max-width: none;
  background-color: #0f1014;
  color: #6c6e70;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin-bottom: 1rem;
}

a {
  color: white;
}

h3 {
  font-weight: 300;
}

video {
  display: block;
}

img,
video,
picture {
  max-width: 100%;
  height: auto;
}

.animated,
img,
svg,
a,
i,
.fa-stack {
  transition: all 500ms ease 0s;
}

select {
  cursor: pointer;
}

.unbreakable {
  white-space: nowrap;
}

.cover {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cover img,
.cover video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fade-transition {
  transition: all 250ms ease;
}

.content *:last-child {
  margin-bottom: 0;
}

.btn-icon .fa-stack {
  font-size: 2rem;
  width: 2em;
}

.gradient-overlay::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  background: rgb(128, 128, 128);
  background: linear-gradient(90deg, rgba(128, 128, 128, 1) 0%, rgba(224, 215, 201, 1) 100%);
  transition: opacity .33s;
}

.overlay::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.overlay::before {
  background: rgb(27, 26, 26);
  background: linear-gradient(90deg, rgba(27, 26, 26, 0.7035189075630253) 97%, rgba(31, 24, 24, 0.15730042016806722) 100%);
  top: 0;
}

.cover {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.minheight-low {
  min-height: 40vh;
}

.height-low {
  height: 40vh;
}

.minheight-medium {
  min-height: 60vh;
}

.height-medium {
  height: 60vh;
}

.minheight-tall {
  min-height: 90vh;
}

.height-tall {
  height: 80vh;
}

.minheight-full {
  min-height: 100vh;
}

.height-full {
  height: 80vh;
}

.limit-width {
  max-width: 900px;
}

.accordion-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}



/** ################################################## Custom styling start ########################################## **/

#page-logo img {
  max-width: 15rem;
}

#page-header {
  z-index: 2;
}

#navbar a {
  margin: 0 0.5rem;
}

.active {
  border-bottom: 2px solid white;
}

#cover-img {
  height: 100vh;
  object-fit: cover;
}

#cover-buttons {
  transform: translateY(-5rem);
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-text {
  z-index: 2;
}

.hero-cover {
  width: 50vw;
  height: 100%;
  position: absolute;
}

.h2-number {
  font-weight: 500;
  color: #5f5e61;
}

.miu-btn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  color: #afafb175;
  padding-bottom: 0.8rem;
  border-bottom: 3px solid #afafb175;
  width: 100%;
}

.miu-col {
  padding: 0;
}

.mixitup-control-active {
  color: #c6c6c9;
  border-bottom: 3px solid #c6c6c9;
}

/* Projects */
#prosjekter {
  height: 590px;
  overflow: hidden;
}

#prosjekter img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 0.6rem;
}

.prosjekter-box {
  border-radius: 0.5rem;
  height: 270px;
}

.box1 {
  background: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.prosjekter-info {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0;
}

.prosjekter-box:hover > .prosjekter-info {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

/* FAQ */
.faq-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
.logo {
  height: 55px;
}


/** ################################################## MEDIA QUERIES ################################################## **/
/** Small devices (landscape phones, 576px and up) **/
/** Bootstrap: -sm **/
@media (min-width: 576px) {
  .hero-cover {
    width: 45vw;
  }

  #prosjekter {
    height: 870px;
  }
}

/** Medium devices (tablets, 768px and up) **/
/** Bootstrap: -md **/
@media (min-width: 768px) {
  :root {
    --container-max-width: 720px;
  }

  .hero-cover {
    width: 35vw;
  }

  #prosjekter {
    height: 570px;
  }
}

/** Large devices (desktops, 992px and up) **/
/** Bootstrap: -lg **/
@media (min-width: 992px) {
  :root {
    --container-max-width: 960px;
  }
}

/** Extra large devices (large desktops, 1200px and up) **/
/** Bootstrap: -xl **/
@media (min-width: 1200px) {
  :root {
    --container-max-width: 1140px;
  }

  .hero-cover {
    width: 25vw;
  }
}

/** Extra Extra large devices (extra large desktops, 1400px and up) **/
/** Bootstrap: -xxl **/
@media (min-width: 1400px) {
  :root {
    --container-max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  :root {
    --container-max-width: 1640px;
  }
}

@media (orientation: landscape) {}

@media (orientation: portrait) {}